 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 448px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  width: 661px;
  margin: 60px auto 0;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  font-weight: 700;
  border-style: solid;
  letter-spacing: 1px;
  margin: 25px auto 47px;
  padding: 24px 59px 24px 58px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 456px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 91px;
    margin-right: 91px;
  }

  .u-section-1 .u-btn-1 {
    margin-bottom: -248px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 508px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 91px;
    margin-right: 91px;
  }

  .u-section-1 .u-btn-1 {
    margin-bottom: -196px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 403px;
  }

  .u-section-1 .u-text-1 {
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5rem;
  }

  .u-section-1 .u-btn-1 {
    margin-bottom: -242px;
  }
}